<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>jun's HomePage</title>

	<link rel="stylesheet" type="text/css" href="css/default.css" />
	<link rel="stylesheet" type="text/css" href="css/main_page_toggle.css" />
	<link rel="stylesheet" type="text/css" href="css/main_menu.css" />
</head>

<body>
	<div class="loadedit">
		<div class="animation01">
			<div class="rhombus_small">
				<div class="rhombus">
					<div class="border_box">
						<span class="line line01"></span>
						<span class="line line02"></span>
						<span class="line line03"></span>
						<span class="line line04"></span>
						<span class="circle circle01"></span>
						<span class="circle circle02"></span>
						<span class="circle circle03"></span>
						<span class="circle circle04"></span>
						<span class="animation_line animation_line01"></span>
						<span class="animation_line_wrapper animation_line02_wrapper"><span
								class="animation_line animation_line02"></span></span>
						<span class="animation_line animation_line03"></span>
						<span class="animation_line_wrapper animation_line04_wrapper"><span
								class="animation_line animation_line04"></span></span>
						<span class="animation_line animation_line05"></span>
						<span class="animation_line_wrapper animation_line06_wrapper"><span
								class="animation_line animation_line06"></span></span>
						<span class="animation_line animation_line07"></span>
						<span class="animation_line_wrapper animation_line08_wrapper"><span
								class="animation_line animation_line08"></span></span>
					</div>
					<div class="wave">
						<div class="wave_wrapper">
							<div class="wave_box"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="animation02">
			<div class="rhombus_box">
				<span class="rhombus_item_wrapper rhombus_item01_wrapper"><span class="rhombus_item"></span></span>
				<span class="rhombus_item_wrapper rhombus_item02_wrapper"><span class="rhombus_item"></span></span>
			</div>
			<div class="double_content">
				<div class="double_wrapper02 dotted02">
					<div class="dotted_hide">
						<div class="double_wrapper01 dotted01"><span class="dotted_right"></span></div>
					</div>
				</div>
				<div class="double_wrapper02 white02">
					<div class="double_wrapper01 white01"></div>
				</div>
				<div class="double_wrapper02 gray02">
					<div class="double_wrapper01 gray01"></div>
				</div>
				<div class="double_wrapper02 orange02">
					<div class="double_wrapper01 orange01"></div>
				</div>
			</div>
			<div class="name">
				<p>Jun's Page</p>
				<span class="name_circle01"></span>
				<span class="name_circle02"></span>
			</div>
		</div>
	</div>
	<div class="main_page">
		<label class="menu_label">
			<input type="checkbox"></input>
			<span class="menu">
				<span class="hamburger"></span>
			</span>
			<ul>
				<li>
					<a href="#" onclick="McurrentSlide(1)">Home</a>
				</li>
				<li>
					<a href="#" onclick="McurrentSlide(2)">About</a>
				</li>
				<li>
					<a href="#" onclick="McurrentSlide(3)">Message</a>
				</li>
			</ul>
		</label>

		<div class="slideshow-container">

			<div class="mySlides ch01 fade">
				<div class="main_img_back"></div>
				<div class="main_img">
					<img src="images/juns_character.jpg">
				</div>
				<div class="my_introduce">
					<p class="name_txt"><span>KIM</span>&nbsp<span style="color: #2B3856;">JUN WOO</span></p>
					<div class="information">
						<div class="contacts">
							<p>🎂1996.11.25</p>
							<p>📞+(82)10-6264-7968</p>
							<p>📧cosoob5107@gmail.com</p>
							<p>📕MBTI : INTP</p>
						</div>
						<div class="blogs">
							<p>Blogs : </p>
							<div class="marks">
								<div class="github_mark">
									<a href="https://github.com/Zunu5107"><img src="images/github-mark.jpg"></a>
								</div>
								<div class="github_mark">
									<a href="https://jun-commit.tistory.com/"><img
											src="images/tistory-logo-fill.png"></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="mySlides ch02 fade">
				<div class="Jun_Advantages">
					<h1>객관적으로 살펴본 자신의 장점</h1>
					<ul>
						<li>
							<p> 또라이다</p>
						</li>
						<li>
							<p> 정신줄을 놨다</p>
						</li>
						<li>
							<p> 그만하고 싶다</p>
						</li>
					</ul>
				</div>
				<div class="Jun_My_style">
					<h1>협업을 하는 과정에서의 자신의 스타일</h1>
					<ul>
						<li>
							<p> 다른 사람의 의견을 중시한다</p>
						</li>
						<li>
							<p> 대화를 통해 최종안을 맞춰가는 것을 선호한다</p>
						</li>
						<li>
							<p> 힘든 부분이나 어려운 부분이 있을 때 같이 해결하기를 원한다</p>
						</li>
					</ul>
				</div>
			</div>

			<div class="mySlides fade">
				<p>방명록</p>
				<div class="reply_card">
					<div class="card_header">
						<img src="images/talk.png">
						<p>REPLY</p>
					</div>
					<div class="card_body">
						<div class="card_ul">
							<div class="li_ip">
								<img src="images/people.png">
								<input type="text" class="form-control" placeholder="Enter yourId" id="replyId">
								<img src="images/lock.png">
								<input type="password" class="form-control" placeholder="Enter password"id="replyPassword">
							</div>
							<input type="text" class="textreply" id="replyMessage">
							<button>post reply</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
		<a class="next" onclick="plusSlides(1)">&#10095;</a>

	</div>

	<nav class="navigater_dot">
		<span class="dot" onclick="currentSlide(1)"></span>
		<span class="dot" onclick="currentSlide(2)"></span>
		<span class="dot" onclick="currentSlide(3)"></span>
	</nav>
	</div>
	<script src="js/page_changer.js"></script>
</body>

</html>