<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<!-- normal setting -->
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>[이노베이션 in 동북] 팀 소개 페이지</title>
		<!-- meta set -->
		<meta name="description" content="이노베이션 in 동북 사전 캠프 5조 미니프로젝트입니다." />
		<meta name="keywords" content="이노베이션 in 동북" />
		<meta name="author" content="이노캠 사전캠프 5조" />

		<link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" type="text/css" href="../static/css/default.css" />
		<link rel="stylesheet" type="text/css" href="../static/css/component.css" />
		<link rel="stylesheet" type="text/css" href="../static/css/index.css" />
		<script src="../static/js/modernizr.custom.js"></script>
	</head>
	<body>
		<div class="container">
			<div id="cbp-fbscroller" class="cbp-fbscroller">
				<nav>
					<a href="#fbsection1" class="cbp-fbcurrent">Section 1</a>
					<a href="#fbsection2">Section 2</a>
					<a href="#fbsection3">Section 3</a>
				</nav>
				<!-- 1 page -->
				<section id="fbsection1">
					<div class="side-box2">
						<h1 class="js-scroll scrolled fade-in-top">오꽤하조</h1>
					</div>
					<div class="js-scroll scrolled slide-left">
						<div class="page1-content">
							<p>자유로운 분위기에서 나오는 자유로운 의견을 제출합니다.</p>
							<p>많은 대화로 원활한 합의점 창출합니다.</p>
						</div>
					</div>
				</section>
				
				<!-- 2 page -->
				<section id="fbsection2">
					<div class="page2-content js-scroll scrolled slide-left">
						<h class="js-scroll scrolled slide-left underline yellow">우리팀의 궁극적인 목표</h>
						<div class="js-scroll scrolled slide-left">
							<p>차별화된 서비스를 만들고자 도전합니다.</p>
							<p>서로 앞으로 나아갈 수 있는 유대감 있는 팀 분위기를 형성합니다.</p>
						</div>
					</div>
					<div class="page2-content js-scroll scrolled slide-left">
						<h class="js-scroll scrolled slide-left underline yellow">우리팀의 약속</h>
						<ol class="js-scroll scrolled slide-left">
							<p><li>매일 시작하기 전에 회의를 통해 지금까지 한 일을 브리핑합니다.</li></p>
							<p><li>서로의 의견을 최대한 존중하려 노력합니다.</li></p>
							<p><li>최종 결정은 팀장의 의사를 따릅니다.</li></p>
							<p><li>스스로 해결하려 노력해보고 모르겠으면 우선 팀원에게 도움을 요청합니다.</li></p>
						</>
					</div>
				</section>

				<!-- 3 page -->
				<section id="fbsection3">
					<div class="t3px-box js-scroll3p scrolled3p slide-left">
						<div class="side-box3px slide-left1p">
							<div id="person1" class="person">
							</div>
							<div class="pr-intro">
								<h3>팀장 : 김준우</h3>
								<p>담당 기능 : </p>
								<p>개발 블로그 : </p>
							</div>
						</div>
						<div class="side-box3px slide-left2p">
							<div id="person2" class="person">
							</div>
							<div class="pr-intro">
								<h3>팀원 : 정명주</h3>
								<p>담당 기능 : </p>
								<p>개발 블로그 : </p>
							</div>
						</div>
						<div class="side-box3px slide-left3p">
							<div id="person3" class="person">
							</div>
							<div class="pr-intro">
								<h3>팀원 : 김나영</h3>
								<p>담당 기능 : 1페이지 및 개인 페이지</p>
								<p>개발 블로그 : https://blog.naver.com/kkd04250</p>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
		<script src="../static/js/index.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<!-- jquery.easing by http://gsgd.co.uk/ : http://gsgd.co.uk/sandbox/jquery/easing/ -->
		<script src="../static/js/jquery.easing.min.js"></script>
		<!-- waypoints jQuery plugin by http://imakewebthings.com/ : http://imakewebthings.com/jquery-waypoints/ -->
		<script src="../static/js/waypoints.min.js"></script>
		<!-- jquery-smartresize by @louis_remi : https://github.com/louisremi/jquery-smartresize -->
		<script src="../static/js/jquery.debouncedresize.js"></script>
		<script src="../static/js/cbpFixedScrollLayout.min.js"></script>
		<script>
			$(function() {
				cbpFixedScrollLayout.init();
			});
		</script>
	</body>
</html>